<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
    </head>
    
    <body>
        <div class="main-content">
             {{>header}}
             <p>
                 This site was created by Wasin W. It uses data from <a href="https://www.mapbox.com/">mabpbox.com</a> and <a href="https://weatherstack.com/">weatherstack.com</a>.
             </p>
            <img class="portrait" src="/img/me.jpg">
        </div>
       
        {{>footer}}
    </body>
</html>